<ul class="file-list" [class.loading]="loading" [class.list]="displayMode">
    <li class="file-item" *ngFor="let file of files" (click)="onSelect(file)" [class.selected]="file===selectedFile">
        <span class="file-name">{{file.name}}</span>
        <div class="buttons">
            <button md-button class="download" (click)="downloadFile(file);$event.stopPropagation()">
                <md-icon class="material-icons">file_download</md-icon>
                download
            </button>
            <button md-button class="delete" (click)="deleteFile(file);$event.stopPropagation()">
                <md-icon class="material-icons">delete</md-icon>
                delete
            </button>
        </div>
    </li>
</ul>