<div class="login">
    <div class="header">Login</div>
    
    <div class="body">
        <div class="progressing" [class.on]="processing" >
            <div class="spinner">
                <md-spinner></md-spinner>
            </div>
        </div>
        <md-input-container class="username-input">
            <input md-input placeholder="User Name" required type="text" [(ngModel)]="username">
        </md-input-container>
        <md-input-container class="password-input">
            <input md-input placeholder="Password" required type="password" [(ngModel)]="password">
        </md-input-container>
    </div>
    <div class="action">
        <button md-button [disabled]="processing" (click)="login()" >Login</button>
        <button md-button  [disabled]="processing" (click)="register()" >Register</button>
        <button md-button  [disabled]="processing" (click)="exit()">Exit</button>
    </div>
</div>