.left-panel {
    color: #dadada;
    position: relative;
    height: 100%;
}

header {
    text-align: center;
    margin: 0 20px;
    padding: 20px 0;
    font-size: 30px;
    line-height: 50px;
    border-bottom: dashed 1px #bababa;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    line-height: 90px;
}

.status{
    position: absolute;
    top: 50%;
    margin-top: -50px;
    height: 100px;
    left: 0;
    width: 100%; 
    line-height: 50px;
    span{
        color: #bafadd;
        display: block;
        width: 120px;
        margin: auto;
        text-align: center;
        & + span {
            border-top: dotted 1px #aaa;
        }
        &.on{
            text-shadow: 0 0 20px #fb1;
            font-weight: 800;
        }
    }

}

@keyframes rotation{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.config {
    border: solid #cacaca 1px;
    height: 50px;
    width: 50px;
    margin: 20px auto;
    border-radius: 25px;
    transition: all ease 400ms;
    i{
        display: block;
        height: 30px;
        width: 30px;
        font-size: 30px;
        margin: 10px;
        text-align: center;
        color: #cacaca;
        transition: all ease 400ms;
        animation: rotation infinite linear;
    }
    &:hover{
        border: solid 1px #fff;
        background: rgba(220,220,220,0.1);
        i{
            color: #fff;
            animation-duration: 2s;
        }
    }
}